<% player = @game.player(user) %>
<% opponent = @game.opponent(user) %>

<div><a href=<%= url("/game/#{@game.id}") %>>Refresh</a></div>

<br />

<div>
  <% if player.turn %>
    <p style='color: #1e8a2d;'><strong>Your Turn</strong>. <%= (User.get(opponent.user_id).username + " " + opponent.last_move) if opponent.last_move %></p>
  <% elsif opponent.turn %>
    <p style='color: #FF0000;'><strong>Opponent's Turn</strong></span></p>
  <% end %>  
</div>

<div style="border: 1px solid #000000;">
<strong>You</strong>
<%= erb :vitals, :locals => {:player => player} %>
<% if player.turn %>
  ------
  <br />
  <% player.hand.each_with_index do |card, index| %>
    <span style="color:  <%= @game.vital_colour(card.cost_type) %> ;">
    <% if player.can_afford?(card) %>
      <a href=<%= url("/game/#{@game.id}/play/#{index}") %>><%= card.name %></a>:
    <% else %>
      <%= card.name %>:
    <% end %>
    <%= @game.card_text(card) %>
    (<%= card.cost.to_s + @game.vital_label(card.cost_type)[0].downcase %>)
    <a href=<%= url("/game/#{@game.id}/discard/#{index}") %>>X</a>
    </span>
    <br />
  <% end %>
<% end %>
</div>

<br />

<div style="border: 1px solid #000000;">
  <strong><%= User.get(opponent.user_id).username %></strong>
  <%= erb :vitals, :locals => {:player => opponent} %>
</div>

<br />

<div>
  <a href=<%= url("/game/#{@game.id}") %>>Refresh</a>  | 
  <a href=<%= url "/game/#{@game.id}/confirm-surrender" %>>Surrender</a>
</div>
